<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>680271642328-u71agoaraof52btdfbnl8f2a823pcigr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.680271642328-u71agoaraof52btdfbnl8f2a823pcigr</string>
	<key>API_KEY</key>
	<string>AIzaSyDIKTDAgdPE5elpjXMPdbOL2BVrzSFrwiI</string>
	<key>GCM_SENDER_ID</key>
	<string>680271642328</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.storeApp</string>
	<key>PROJECT_ID</key>
	<string>storeappz</string>
	<key>STORAGE_BUCKET</key>
	<string>storeappz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:680271642328:ios:af66f164c8db9cc572a1ad</string>
</dict>
</plist>